<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farming Home</title>
</head>
<body>
    <h1>Farmers of Canada</h1>

    {% for farmer in farmers %}
        <h3>{{farmer.name}}</h3>
        <ul>
            <li>age: {{ farmer.age}} </li>
            <!-- https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#yesno -->
            <li>is married: {{ farmer.is_married|yesno:"yes, no, unknown"}} </li>
        </ul>
        <p>{{farmer.name}} owns the following farms:</p>
        <ol>
            
            {% for farm in farmer.farms.all %}
            <strong>
                <li>{{ farm.name }}</li>
            </strong>
            <ul>
                <li>product: {{ farm.product }}</li>
                <li>category: {{ farm.category }}</li>
                <li>municiaplity: {{ farm.municipality }}</li>
            </ul>
            {% endfor %}
            
        </ol>
    {% endfor %}

</body>
</html>